<!DOCTYPE html>
<html>
<head>
  <title>Share Book</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Share Book</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </main>
  <footer>
    <p>Fernando</p>
  </footer>
</body>
</html>
